<!DOCTYPE html>
<html>

<head>
    <title>Social Network</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <meta content="utf-8" http-equiv="encoding" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/createPost.css" />


</head>

<body>
    <div class="wrapper">
        <div class="card">
            <header>
                <h1>Create Post</h1>
                <div data-theme="gray" class="button"><span>Back to News Feed</span></button>
            </header>
            <main>
                <div class="postContent">
                    <div class="left">

                        <div class="field">
                            <label>Content</label>
                            <textarea id="postInput"></textarea>
                        </div>
                        <div class="field">
                            <label>Content</label>
                            <span class="locationInfo">Click on the map to select a location</span>
                            <p id="preview" class="locationPreview">-</p>
                        </div>
                        <div class="button" id="buttonSave"><span>Save</span></div>
                    </div>
                    <div class="right">
                        <div id="map"></div>
                    </div>
                </div>
            </main>

        </div>
    </div>

    <script>
        const ROOT = "{{{ ROOT }}}";
        const KEY = "{{{ KEY }}}";
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{{KEY}}}=&callback=initMap"></script>


    <script src="script/createPost.js"></script>


</body>

</html>