<!DOCTYPE html>
<html>

<head>
  <title>Social Network</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
  <meta content="utf-8" http-equiv="encoding" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/index.css" />

  <meta name="google-signin-client_id" content="192803036566-1qcajpvl19qnf9qu043o5fdoaq8762lk.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">

</head>

<body>
  <div class="wrapper">
    <div class="card">
      <header>
        <h1>News Feed</h1>
        <a href="/createPost" class="button" id="buttonCreatePost"><span>+ Create new post</span></a>
      </header>

      <main>
        <section id="settings">
          <h3>Settings</h3>
          <div data-theme="delete" style="opacity: 0" class="button" id="buttonSignOut"><span>Sign out</span></div>
        </section>

        <section id="posts">
          <h3>Latest Posts</h3>
          <div class="list">
            {{{posts}}}
          </div>

        </section>
      </main>

    </div>
  </div>

  <script>
    const ROOT = "{{{ ROOT }}}";
  </script>


  <script src="script/index.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

</body>

</html>